<nav class="navbar navbar-expand-lg navbar-dark bg-white">
  <a class="navbar-brand" style="color: darkslategray" routerLink="/"><h2>ÉtelFutár</h2></a>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item" *ngIf="user">
      <h6>Bejelentkezve: {{ user.email }} </h6>
    </li>
  </ul>
  <button class="navbar-toggler" type="button"  [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample" (click)="isCollapsed = !isCollapsed" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="collapseExample" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <button class="btn btn-outline-secondary" id="login"
                style="cursor: pointer; color: darkslategray"
                (click)="onLogin()"
                *ngIf="!authService.isUserAuthenticated()"
                >
          Bejelentkezés
        </button>
        <button class="btn btn-outline-secondary" id="register"
                style="cursor: pointer; color: darkslategray"
                (click)="onRegister()"
                *ngIf="!authService.isUserAuthenticated()"
                >
          Regisztráció
        </button>
        <button class="btn btn-outline-secondary" id="logout"
                style="cursor: pointer; color: darkslategray"
                (click)="onLogout()"
                *ngIf="authService.isUserAuthenticated()"
                >
          Kijelentkezés
        </button>
      </li>
    </ul>
  </div>
</nav>


