<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-8 col-sm-10">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="userForm.controls['email'].invalid ? 'is-invalid' : ''"
            autofocus>
          <label class="text-danger" *ngIf="userForm.controls['email'].hasError('email')"> Enter a valid email address! </label>
        </div>
        <div class="form-group">
          <label for="password">Jelszó</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control">
          <br>
          <label [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">
              {{ userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}
            </i>
            Legyen legalább 8 karakter hosszú!
          </label>

          <label class="col" [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">
              {{ userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}
            </i>
            Legyen legalább 1 szám!
          </label>

          <label class="col" [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">
              {{ userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
            </i> Legyen legalább 1 nagybetű!
          </label>

          <label class="col" [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">
              {{ userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
            </i>
            Legyen legalább 1 kisbetű!
          </label>

          <label class="col" [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
            <i class="material-icons">
              {{ userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}
            </i>
            Legyen legalább 1 speciális karakter!
          </label>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Jelszó újra:</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control">
          <label class="text-danger" *ngIf="userForm.controls['confirmPassword'].hasError('NoPassswordMatch')"> A jelszavak nem egyeznek! </label>
        </div>
        <button
          type="submit"
          class="btn btn-outline-success"
          [disabled]="!userForm.valid">Regisztrálok
        </button>
      </form>
    </div>
  </div>
</div>

